/* Table of Content
==================================================
1-Preloader
2-layout
3-left side
4-right side :
  4/1-About tab
  4/2-Resume tab
  4/3-Portfolio tab
 */

/* Preloader */
#preloader{
    background: var(--background);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#preloader .loading {
    height: 100%;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    opacity:.9;
    text-align:center;
}

#preloader .text {
    color: var(--primary);
    display: inline-block;
    margin-left: 5px;
}

#preloader .bounceBall {
    position: relative;
    display: inline-block;
    height: 37px;
    width: 15px;
}

#preloader .bounceBall:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary);
    transform-origin: 50%;
    animation: bounce 300ms alternate infinite ease;
    z-index: 9999;
}
@keyframes bounce {
    0% {
        top: 30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
    }
    35% {
        height: 15px;
        transform: scaleX(1);
    }
    100% {
        top: 0;
    }
}

/* End preloader */
/*layout*/
main.container {
    margin: 10rem auto;
    padding: 0;
    width: 60%;
    background-color: white;
}

@media screen and (max-width: 1199px) {
    main.container {
        margin: 0 auto;
        width: 100%;
    }
}

main.container .left, main.container .right {
    padding: 0;
    margin: 0;
}

main.container .right {
    margin-left: 5rem;
}

@media screen and (max-width: 1199px) {
    main.container .right {
        margin-left: 0;
    }
}


/*End layout*/
/* navigation*/
#header .profile > div {
    margin: 0;
    padding: 0;
    background-color: var(--strong);
}

#header .profile > div > img {
    width: 100%;
}

#header .profile .name-profile {
    text-align: center;
    background-color: var(--strong);
}

#header .profile .name-profile h5 {
    color: white;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1199px) {
    #header .profile .name-profile h5 {
        font-size: 2.5rem;
    }
}

#nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#nav > ul > li {
    width: 100%;
    height: 20rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

#nav > ul > li i {
    font-size: 3rem;
    display: block;
    margin-bottom: 0.5rem;
    color: var(--strong);
}

#nav > ul > li span {
    font-size: 0.7rem;
    font-weight: lighter;
    color: var(--main);
}


#nav > ul > li:hover {
    background-color: var(--strong);
}

#nav > ul > li:hover i, #nav > ul > li:hover span, #nav > ul > li:hover h5 {
    color: white;
}

#nav .li_current, #nav .li_current i, #nav .li_current h5, #nav .li_current span {
    color: white;
    background-color: var(--strong);
}

#nav .li_current {
    position: relative;
}

#nav .li_current:before {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 0;
    height: 0;
    border-top: 3rem solid var(--strong);
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
    transform: rotate(-90deg);
    right: -3rem;
}

@media screen and (max-width: 1199px) {
    #nav > ul {
        display: flex;
        flex-direction: row;
    }

    #nav > ul > li {
        height: 10rem;
    }

    #nav .li_current:before {
        display: none;
    }
}

/* End navigation*/
/* video player */
.player {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 1199px) {
    .player {
        display: none;
    }
}

.player_video {
    width: 100%;
}

.player_button {
    display: none;
}

.player_controls {
    position: absolute;
    top: 0;
    width: 100%;
    height:100%;
    transition: all .3s;
    background: rgba(0, 0, 0, 0);
}

.player:hover .progress {
    height: 1.5rem;
}

.player:hover .player_controls {
    background: rgba(0, 0, 0, 0.4);
}

.player:hover .player_button{
    display: block;
    background: url('../Resources/img/play.svg') no-repeat center;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50px) translateY(-50px);
}

.progress {
    position: absolute;
    height: .5rem;
    width: 100%;
    transition: height 0.3s;
    bottom:0;
    background: rgba(0, 0, 0, 0.5);
    cursor: ew-resize;
}

.progress_filled {
    width: 50%;
    background: var(--primary);
}
/* End video player */
/* section resume */
section {
    display: none;
    transition: all 0.2s ease;
}

.show_section {
    display: block;
}

.title {
    margin: 10rem auto;
    text-align: center;
}


#downloadCV {
    margin-top: 2rem;
    border: .1rem solid var(--strong);
}

article {
    margin: 9rem auto;
    font-size: 1.5rem;
}

article .decoration {
    background-color: var(--primary);
    width: 3rem;
    height: 0.5rem;
    margin: 1rem auto;
}

article h5 {
    margin-bottom: 3rem;
}

article li {
    padding: 0.5rem;
    margin-bottom: 0.2rem;
}

article .row {
    margin-bottom: 3rem;
}

.article-left {
    float: right;
    text-align: right;
    color: var(--strong);
}

.article-right {
    float: left;
    text-align: left;
    color: var(--main);
}

@media screen and (max-width: 1199px) {
    .article-left {
        float: left;
        text-align: left;
    }

    .article-right {
        float: left;
        text-align: left;
    }

    .article-right.personal-info {
        float: right;
        text-align: right;
        position: absolute;
        right:1.5rem;
        bottom:0;
    }

    .article-left.skill-desc {
        text-align: center;
        width: 100%;
    }

    .article-right.skill-desc {
        display: none;
    }
}

/* End section resume */
/* section portfolio */
#works > nav ul {
    display: flex;
    justify-content: center;
    margin-left: 3.5rem;
}

#works > nav li:after {
    content: '/';
    padding-right: 2rem;
    padding-left: 1rem;
}

#works > nav li a {
    color: var(--main);
    transition: all 0.2s ease;
}

#works > nav li a:hover {
    color: var(--strong);
    cursor: pointer;
}

.work_current {
    color: var(--strong) !important;
    font-size: 1.8rem;
}

#works > nav li:nth-child(4):after {
    content: '';
}

#works .work_wrapper {
    margin-top: 3rem;
}

#works .work_wrapper .desc {
    position: relative;
}

#works .work_wrapper .project-desc {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    transition: all 0.3s ease;
}

#works .work_wrapper .project-desc:hover {
    opacity: 0.6;
    background-color: black;
    cursor: pointer;
}

#works .work_wrapper .project-desc h5, #works .work_wrapper .project-desc span {
    color: white;
    margin-bottom: 1.5rem;
    opacity: 0;
    transition: all 0.3s ease;
}

#works .work_wrapper .project-desc:hover h5, #works .work_wrapper .project-desc:hover span {
    opacity: 100%;
}

#works .work_wrapper img {
    width: 100%;
}
/* End section portfolio */