* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif; }

h1,
h2,
h3,
h4,
h5 {
  color: #000;
  font-family: "Vidaloka", "Times", serif;
  font-weight: 400; }

::-webkit-selection {
  color: #fff;
  background: #2c98f0; }

::-moz-selection {
  color: #fff;
  background: #2c98f0; }

::selection {
  color: #fff;
  background: #2c98f0; }

h2 {
  margin-bottom: 3em;
  letter-spacing: 0.5em;
  font-weight: 700;
  font-size: 1em;
  color: #444; }

#page {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto; }

#sidebar {
  padding-top: 6em;
  position: fixed;
  float: left;
  width: 300px;
  background: #fff; }
  #sidebar:hover {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #f2f3f7; }
  #sidebar .bio-img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 2em;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

#navigation {
  padding-top: 3em; }
  #navigation ul {
    width: 100%;
    list-style: none; }
    #navigation ul li {
      line-height: 2em; }
      #navigation ul li a {
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        position: relative; }
        #navigation ul li a:after {
          content: "";
          position: absolute;
          height: 1.5px;
          left: 0;
          right: 0;
          bottom: -1px;
          background: #2c98f0;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          -moz-transform: scaleX(0);
          -ms-transform: scaleX(0);
          -o-transform: scaleX(0);
          transform: scaleX(0);
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        #navigation ul li a:hover {
          text-decoration: none;
          color: black; }
          #navigation ul li a:hover:after {
            visibility: visible;
            -webkit-transform: scaleX(1);
            -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
            -o-transform: scaleX(1);
            transform: scaleX(1); }
      #navigation ul li.active a {
        color: #2c98f0; }

#contact-details {
  padding-top: 6em; }
  #contact-details ul {
    width: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 40px;
    font-size: 0.8vmax; }

.container-wrap {
  max-width: 1170px;
  margin: 0 auto; }

#main {
  width: calc(100% - 300px);
  float: right; }

#hero {
  width: 100%;
  float: left;
  clear: both; }

.education,
.skill,
.portfolio,
.contact {
  width: 100%;
  padding-top: 6em;
  padding-bottom: 12em;
  clear: both;
  display: block; }

#education .timeline-icon {
  display: block;
  width: 40px;
  height: 40px;
  background: #2c98f0;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 0 5px #f2f3f7;
  line-height: 40px;
  float: left; }
  #education .timeline-icon i {
    color: #fff; }
  #education .timeline-icon.color-1 {
    background: #2c98f0; }
  #education .timeline-icon.color-2 {
    background: #ec5453; }
  #education .timeline-icon.color-3 {
    background: #f9bf3f; }
  #education .timeline-icon.color-none {
    background: #fff;
    width: 20px;
    height: 20px;
    margin-left: 10px; }
#education .timeline-label {
  position: relative;
  background: #f2f3f7;
  padding: 1.5em;
  margin-left: 60px;
  margin-bottom: 20px;
  background-clip: padding-box; }
  #education .timeline-label:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f2f3f7 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px; }
  #education .timeline-label h2 {
    font-size: 1.2em;
    font-weight: 500px;
    font-family: "Montserrat", "Arial", sans-serif;
    letter-spacing: initial; }
    #education .timeline-label h2 a {
      margin-left: 30px; }
    #education .timeline-label h2 span {
      font-size: 0.8em;
      margin-left: 30px;
      color: #444; }
  #education .timeline-label ul {
    margin-left: 40px; }

#skill h3 {
  font-size: 1.2em;
  font-weight: 500px;
  font-family: "Montserrat", "Arial", sans-serif;
  letter-spacing: initial;
  margin-bottom: 0.5em;
  margin-top: 1em; }

#portfolio .portfolio-menu span {
  font-family: "Vidaloka", "Times", serif;
  padding: 1em;
  font-size: 1em; }
#portfolio .project {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  margin-bottom: 30px;
  position: relative; }
  #portfolio .project .desc {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2c98f0;
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    #portfolio .project .desc .con {
      padding: 1.5em;
      position: relative;
      height: 300px; }
      #portfolio .project .desc .con h3 {
        font-family: "Montserrat", "Arial", sans-serif;
        font-size: 1.5em;
        text-transform: uppercase;
        transition: transform 0.3s, opacity 0.3s;
        transform: translate3d(0, -15px, 0); }
      #portfolio .project .desc .con .icon {
        position: absolute;
        bottom: 20px;
        left: 20px; }
    #portfolio .project .desc:hover {
      opacity: 1; }
      #portfolio .project .desc:hover h3 {
        transform: translate3d(0, 0, 0); }

#contact .contact-detail {
  padding: 2em;
  display: flex;
  align-items: center; }
  #contact .contact-detail .detail-icon {
    width: 4em;
    height: 4em;
    background-color: #2c98f0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; }
  #contact .contact-detail .detail-content h3 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 1.2em;
    align-self: center;
    margin-left: 1em; }
#contact form {
  padding: 20px; }

/*# sourceMappingURL=style.css.map */
